In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [16]:
from sklearn.preprocessing import LabelEncoder

In [3]:
try:
    BASE_DIR = os.path.dirname(os.path.abspath(__file__))
except NameError:
    # Fallback for Jupyter or interactive mode
    BASE_DIR = os.getcwd()

file_path = os.path.join(BASE_DIR, "Data", "loan_approval_dataset.csv")
df = pd.read_csv(file_path)

In [4]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [5]:
df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [8]:
print("=" * 80)
print("DATASET OVERVIEW")
print("=" * 80)
print(f"\nDataset Shape: {df.shape}")
print(f"Number of samples: {df.shape[0]}")
print(f"Number of features: {df.shape[1]}")

================================================================================
DATASET OVERVIEW
================================================================================

Dataset Shape: (4269, 13)
Number of samples: 4269
Number of features: 13

In [9]:
print(df.columns.tolist())

['loan_id', ' no_of_dependents', ' education', ' self_employed', ' income_annum', ' loan_amount', ' loan_term', ' cibil_score', ' residential_assets_value', ' commercial_assets_value', ' luxury_assets_value', ' bank_asset_value', ' loan_status']

In [10]:
print("\n" + "=" * 80)
print("STATISTICAL SUMMARY")
print("=" * 80)
print(df.describe())

================================================================================
STATISTICAL SUMMARY
================================================================================
           loan_id   no_of_dependents   income_annum   loan_amount  \
count  4269.000000        4269.000000   4.269000e+03  4.269000e+03
mean   2135.000000           2.498712   5.059124e+06  1.513345e+07
std    1232.498479           1.695910   2.806840e+06  9.043363e+06
min       1.000000           0.000000   2.000000e+05  3.000000e+05
25%    1068.000000           1.000000   2.700000e+06  7.700000e+06
50%    2135.000000           3.000000   5.100000e+06  1.450000e+07
75%    3202.000000           4.000000   7.500000e+06  2.150000e+07
max    4269.000000           5.000000   9.900000e+06  3.950000e+07

         loan_term   cibil_score   residential_assets_value  \
count  4269.000000   4269.000000               4.269000e+03
mean     10.900445    599.936051               7.472617e+06
std       5.709187    172.430401               6.503637e+06
min       2.000000    300.000000              -1.000000e+05
25%       6.000000    453.000000               2.200000e+06
50%      10.000000    600.000000               5.600000e+06
75%      16.000000    748.000000               1.130000e+07
max      20.000000    900.000000               2.910000e+07

        commercial_assets_value   luxury_assets_value   bank_asset_value
count              4.269000e+03          4.269000e+03       4.269000e+03
mean               4.973155e+06          1.512631e+07       4.976692e+06
std                4.388966e+06          9.103754e+06       3.250185e+06
min                0.000000e+00          3.000000e+05       0.000000e+00
25%                1.300000e+06          7.500000e+06       2.300000e+06
50%                3.700000e+06          1.460000e+07       4.600000e+06
75%                7.600000e+06          2.170000e+07       7.100000e+06
max                1.940000e+07          3.920000e+07       1.470000e+07

In [12]:
print("\n" + "=" * 80)
print("MISSING VALUES ANALYSIS")
print("=" * 80)

missing_data = pd.DataFrame({
    'Column': df.columns,
    'Missing_Count': df.isnull().sum(),
    'Percentage': (df.isnull().sum() / len(df)) * 100
})
missing_data = missing_data[missing_data['Missing_Count'] > 0].sort_values(
    'Missing_Count', ascending=False
)
print(missing_data)

================================================================================
MISSING VALUES ANALYSIS
================================================================================
Empty DataFrame
Columns: [Column, Missing_Count, Percentage]
Index: []

In [13]:
print('\nMissing values (%):')
print((df.isnull().mean()*100).sort_values(ascending=False).head(10))

Missing values (%):
loan_id                      0.0
 no_of_dependents            0.0
 education                   0.0
 self_employed               0.0
 income_annum                0.0
 loan_amount                 0.0
 loan_term                   0.0
 cibil_score                 0.0
 residential_assets_value    0.0
 commercial_assets_value     0.0
dtype: float64

# Cleaning data

In [14]:
df_clean = df.copy()
# Categorical columns - fill missing values with mode
categorical_cols = df_clean.select_dtypes(include=['object']).columns
for col in categorical_cols:
    if df_clean[col].isnull().sum() > 0:
        mode_value = df_clean[col].mode()[0]
        df_clean[col].fillna(mode_value, inplace=True)
        print(f"Filled '{col}' with mode: {mode_value}")
# Numerical columns - fill missing values with median
numerical_cols = df_clean.select_dtypes(include=['int64', 'float64']).columns
for col in numerical_cols:
    if df_clean[col].isnull().sum() > 0:
        median_value = df_clean[col].median()
        df_clean[col].fillna(median_value, inplace=True)
        print(f"Filled '{col}' with median: {median_value}")

print(f"\nMissing values after cleaning: {df_clean.isnull().sum().sum()}")

Missing values after cleaning: 0

In [17]:
if 'loan_id' in df_clean.columns:
    df_clean = df_clean.drop('loan_id', axis=1)
    print("Dropped 'loan_id' column")

# Encode target variable
le_target = LabelEncoder()
df_clean[' loan_status'] = le_target.fit_transform(df_clean[' loan_status'])
print(f"\nTarget encoding: {dict(zip(le_target.classes_, le_target.transform(le_target.classes_)))}")

# Encode categorical features
label_encoders = {}
categorical_features = df_clean.select_dtypes(include=['object']).columns

for col in categorical_features:
    le = LabelEncoder()
    df_clean[col] = le.fit_transform(df_clean[col])
    label_encoders[col] = le
    print(f"Encoded '{col}': {dict(zip(le.classes_, le.transform(le.classes_)))}")

Target encoding: {' Approved': 0, ' Rejected': 1}
Encoded ' education': {' Graduate': 0, ' Not Graduate': 1}
Encoded ' self_employed': {' No': 0, ' Yes': 1}

In [18]:
print("\n" + "=" * 80)
print("FINAL DATASET AFTER ENCODING")
print("=" * 80)
print(df_clean.head())
print(f"\nFinal shape: {df_clean.shape}")

================================================================================
FINAL DATASET AFTER ENCODING
================================================================================
   no_of_dependents  education  self_employed  income_annum  loan_amount  \
0                 2          0              0       9600000     29900000
1                 0          1              1       4100000     12200000
2                 3          0              0       9100000     29700000
3                 3          0              0       8200000     30700000
4                 5          1              1       9800000     24200000

   loan_term  cibil_score  residential_assets_value  commercial_assets_value  \
0         12          778                   2400000                 17600000
1          8          417                   2700000                  2200000
2         20          506                   7100000                  4500000
3          8          467                  18200000                  3300000
4         20          382                  12400000                  8200000

   luxury_assets_value  bank_asset_value  loan_status
0             22700000           8000000            0
1              8800000           3300000            1
2             33300000          12800000            1
3             23300000           7900000            1
4             29400000           5000000            1

Final shape: (4269, 12)

In [19]:
df_clean.to_csv('cleaned_data.csv', index=False)